/* ================= LOGIN ================= */

.login-page {
  min-height: 100vh;
  background: linear-gradient(to bottom, #d60000, #ff4d4d);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* CARD */

.login-card {
  background: white;
  width: 90%;
  max-width: 350px;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  text-align: center;
}


/* TITLE */

.login-title {
  color: #d60000;
  margin-bottom: 20px;
  font-size: 26px;
}


/* INPUT */

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}


/* BUTTON */

.login-card button {
  width: 100%;
  padding: 12px;
  background: #d60000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background: #b30000;
}


/* ERROR */

.login-error {
  background: #ffe0e0;
  color: red;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 14px;
}
