.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 15px;
  background: white;
  border-bottom: 1px solid #eee;
}

/* .logo {
  font-weight: bold;
  font-size: 18px;
} */
/* Logo Container */
.logo {
  text-align: center;
  line-height: 1.1;
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  font-weight: 700;
}

/* Main Text */
.logo-main {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}

/* Sub Text */
.logo-sub {
  font-size: 26px;
  font-weight: bold;
  color: #ffb300;
}

/* Mobile Optimization */
@media (max-width: 480px) {
  .logo-main {
    font-size: 14px;
  }

  .logo-sub {
    font-size: 12px;
  }
}

.balance-box {
  background: #d60000;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.nav-left {
  height: 40px;
}

/* Right container */
.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.user-btn {
  cursor: pointer;
  font-size: 22px;
  padding: 4px 8px;
}

.nav-slot {
  width: 70px;              /* adjust if needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-placeholder {
  width: 40px;
  height: 40px;
}
